.categoryCards {
    position: relative;
    background-size: contain;
    background-position: right center;
    background-repeat: no-repeat;
    .col-12 {
        margin-bottom: 50px;
        text-align: center;
    }
    @media only screen and (max-width: 768px) {
        background-image: initial !important;
    }
}

.categoryCards__heading {
    text-align: center;
    .heading {
        color: $green;
        margin: 0;
    }
    & > .text {
        max-width: 600px;
        margin: 30px auto 50px;
    }
}

.categoryCards__card {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    max-width: 300px;
    margin: 0 auto;
    height: 100%;
    text-decoration: none;
    transition: .3s ease;
    &:hover, &:focus {
        box-shadow: 0 0 10px #9e9e9e;
        .icon {
            transform: rotate(-20deg) scale(.9);
        }
        .btn-arrow {
            svg {
                transform: translateX(5px);
            }
        }
    }
    @include breakpoint(lg) {
        max-width: initial;
        margin: 0 auto;
    }
}

.categoryCards__card--image {
    position: relative;
    display: block;
    height: 150px;
    overflow: hidden;
    img {
        display: block;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    svg {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -4px;
    }
}

.categoryCards__card--content {
    padding: 12px 20px 25px;
    text-align: center;
    height: calc(100% - 150px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .icon {
        max-width: 45px;
        margin: 0 auto 10px;
        transition: .3s cubic-bezier(0.68, -0.6, 0.32, 1.6);
        img {
            display: block;
        }
    }
    .heading {
        color: white;
        font-size: 25px;
        margin: 0 0 15px;
    }
    .text {
        * {
            color: white;
        }
    }
    .btn-arrow {
        margin-top: 10px;
    }
}

.categoryCards__dec {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    z-index: -1;
    overflow: hidden;
    background-repeat: no-repeat;
}