.productSlider {
    position: relative;
    overflow: hidden;
}


.productSlider__head {
    text-align: center;
    .heading {
        margin: 0 0 30px;
    }
}

.productSlider__swiper {
    position: relative;
}

.productSlider__swiper--slideContent {
    .swiper-button-next, .swiper-button-prev {
        opacity: 0;
        transition: .3s ease-out;
    }
    .swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
        pointer-events: initial;
    }
    &:hover, &:focus-within {
        .swiper-button-next, .swiper-button-prev {
            opacity: 1;
        }
        .swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
            opacity: .2;
        }
    }

}

.productSlider__swiper--slide {
    max-width: 100%;
    margin: 0 auto;

    .swiper-slide {
        height: auto;
    }
}

.productSlider__product {
    margin: 0 auto;
    height: 100%;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    &:hover, &:focus {
        .productSlider__product--img {
            &::after {
                background-color: rgba($color: #000000, $alpha: .9);
            }
        }
        .productSlider__product--img--hover {
            opacity: 1;
            .btn {
                pointer-events: initial;
            }
        }
    }
    img {
        width: 150px;
        height: 150px;
        margin: auto;
        object-fit: cover;
    }
}

.productSlider__product--img {
    position: relative;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
    margin: 0;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba($color: $black-1, $alpha: 0);
        transition: .3s ease-out;
    }
    img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
    }
}

.productSlider__product--img--hover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    display: flex;
    opacity: 0;

    .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        flex-basis: 20px;
        background-color: white;
        border-radius: 100%;
        appearance: none;
        padding: 5px;
        border: 0;
        margin: 0 10px 0 0;
        pointer-events: none;
        &:hover, &:focus {
            background-color: $gray;
        }
        &:last-child {
            margin: 0;
        }
    }
    svg {
        display: block;
        height: 15px;
        width: 15px;
        pointer-events: none;
    }
}

.productSlider__product--content {
    display: flex;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    background-color: $beige;
    .category {
        display: block;
        font-weight: 700;
        color: $green;
        font-size: 14px;
        margin: 0 0 10px;
    }
    .heading {
        font-size: 18px;
        margin: 0 0 8px;
        color: $black;
    }
    .price {
        margin: 0;
        font-size: 14px;
        font-weight: 500;
        color: $orange;
    }
    .category {
        margin: 0;
        color: $gray-2;
    }
}

.productSlider__product--content--desc {
    flex-basis: 75%;
    padding: 10px;
    text-align: left;
    @include breakpoint(md) {
        padding: 20px 10px;
    }
}

.productSlider__product--content--price {
    text-align: center;
    flex-basis: 25%;
    padding: 10px;
    border-left: 1px solid white;
    @include breakpoint(md) {
        padding: 20px 10px;
    }
}


.productSlider__bg--dec {
    display: none;
    position: absolute;
    width: 50px;
    height:50px;
    top: 0;
    left: 0;
    pointer-events: none;
    user-select: none;
    &:nth-child(3n + 1){
        top: 6%;
        left: 78%;
    }
    &:nth-child(3n + 2){
        top: 15%;
        left: 5%;
    }
    &:nth-child(3n + 3){
        top: 100%;
        left: 90%;
        transform: rotate(15deg);
    }
    @include breakpoint(md) {
        display: block;
    }
}



.js-product-slide-next, .js-product-slide-prev {
    top: 50%;
    transform: translateY(-50%);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: $beige;
    &::after {
        font-size: 15px;
        color: $black;
        font-weight: 900;
    }
}

.js-product-slide-next {
    right: 0;
    &::after {
        margin-left: 3px;
    }
}

.js-product-slide-prev {
    left: 0;
    &::after {
        margin-right: 3px;
    }
}

.js-product-slide-pagination {
    position: static;
    margin: 60px 0 0;
    .swiper-pagination-bullet {
        opacity: 1;
        &.swiper-pagination-bullet-active {
            background: $purple;
        }
    }
}


.js-product-slide-navigation {
    height: 3px;
    margin: 30px auto 0;
    background-color: white;
    max-width: 100%;
    .swiper-scrollbar-drag {
        background-color: $orange;
    }
    @include breakpoint(md) {
        max-width: 80%;
    }
}