.sliderHero {
    position: relative;
    // height: 80vh;
    // min-height: 350px;
    overflow: hidden;
    @include breakpoint(md) {
        // height: 80vh;
        // min-height: 600px;
        // max-height: 600px;
    }
}

.sliderHero__swiper {
    height: 100%;
    .swiper-wrapper {
        height: 100%;
    }
}

.sliderHero__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // position: relative;
    text-align: center;
    width: 100%;
    max-width: 80%;
    z-index: 1;
    .subheading {
        color: $green;
        margin: 0;
        font-size: 18px;
        @include fontfluid(20, 18);
    }
    .heading {
        color: white;
        font-size: 20px;
        margin: 0 0 10px;
        @include fontfluid(40, 20);
    }
    .btn-radio {
        font-size: 14px;
        padding: 5px 8px;
    }
    @include breakpoint(md) {
        max-width: 90%;
        .subheading {
            font-size: 28px;
        }
        .heading {
            font-size: 50px;
            margin: 0 0 20px;
        }
        .btn-radio {
            font-size: 16px;
            padding: 9px 12px;
        }
    }
    @include breakpoint(lg) {
        transform: translate(-50%,0);
        top: initial;
        bottom: 15%;
        .subheading {
            font-size: 30px;
        }
        .heading {
            font-size: 60px;
            margin: 0 0 20px;
        }
        .btn-radio {
            font-size: 18px;
            padding: 9px 12px;
        }
    }
}

.sliderHero__image {
    display: block;
    position: relative;
    z-index: 1;
    padding-bottom: 35%;
    width: 100%;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--custom-opacity);
        z-index: 0;
    }
    img {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.sliderHero__swiper--item {
    position: relative;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    @include breakpoint(md) {
        align-items: flex-end;
    }
}

.sliderHero__swiper--prev {
    &::after {
        font-size: 25px;
        color: white;
    }
    @include breakpoint(md) {
        &::after {
            font-size: 40px;
        }
    }
}

.sliderHero__swiper--next {
    &::after {
        font-size: 25px;
        color: white;
    }
    @include breakpoint(md) {
        &::after {
            font-size: 40px;
        }
    }
}

.sliderHero__wave {
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    z-index: 1;
    bottom: 0;
    path {
        fill: white;
    }
}




/////////////////////
/// Slide hero left
/////////////////////


.sliderHero.left {
    @include breakpoint(md) {
        .sliderHero__container {
            max-width: 720px;
            margin: 0 auto;
            text-align: left;
            .subheading {
                width: 60%;
            }
            .heading {
                width: 60%;
            }
            .text {
                width: 60%;
            }
            .btn-bone {
                padding: 50px 10px;
                float: left;
                max-width: 200px;
                width: 100%;
                text-align: center;
                background-position: left;
                .text {
                    font-size: 20px;
                    width: 70%;
                }
            }
        }
        .sliderHero__swiper--item {
            align-items: center;
            justify-content: flex-start;
        }

    }
    @include breakpoint(lg) {
        .sliderHero__container {
            max-width: 960px;
            .subheading {
                width: 50%;
            }
            .heading {
                width: 50%;
            }
            .text {
                width: 50%;
            }
        }
    }
    @include breakpoint(xl) {
        .sliderHero__container {
            max-width: 1140px;
        }
    }
}

.js-header-slide-anim {
    opacity: 0;
    transform: translateY(50px);
    transition: initial;
}
